{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="category"><a class='sortLinks' href= '/books/{{ category.slug|default:"no" }}/newfirst/'>newest first</a></div>
    <div class="category"><a class='sortLinks' href= '/books/{{ category.slug }}/oldfirst/'>oldest first</a></div>
<body class="books-body">
    {% for book in books %}
    <div class="book" id="{{book.pk}}">
        <img class='book-img' src='{{book.img.url}}'>
        <a class="book-title" href="{%url 'books-detail' book.pk %}">{{book.title}}</a>
        <p class="book-author">{{book.author}}</p>
        <a class="book-url" href="{{book.url}}">{{book.url}}</a>
        <p class="book-description">{{book.description}}</p>
        <p class="timestamp">Added: {{book.date_added}}</p>
        <p class="category"><a href="/books/{{book.category}}">{{book.category}}</a></p>
    </div>
    {% endfor %}
</body>
</div>
{% endblock %}
