* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

hr {
    border-color: black;
}

.header {
    width: 100%;
    background: linear-gradient(#83b1f2, #6488b9);
    padding: 1rem;
    height: 130px;
    border-bottom: 2px solid #3f5575;
    display: block;
}

.head-categories {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.category {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    font-family: 'PT Sans Narrow';
}

.site-name {
    display: inline;
    font-family: 'Odibee Sans';
    font-style: italic;
    text-shadow: 2px 2px 2px #4d4d4d;
    font-size: 50px;
}

.login {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 5px;
    font-family: 'PT Sans Narrow';
}

.container {
    display: flex;
}

.book {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    max-width: 400px;
    font-family: 'PT Sans Narrow';
}

.book-title {
    font-family: 'Odibee Sans';
    font-size: 20px;
}

.timestamp {
    font-size: 10px;
    margin-top: 10px;
}